:root {
    --lenovo-red: #e60012;
    --lenovo-dark: #333;
    --lenovo-light: #f5f5f5;
    --lenovo-gray: #ddd;
    --lenovo-text: #333;
    --lenovo-text-light: #777;
    --header-height: 80px;
    --nav-height: 50px;
    --products-nav-height: 40px;
}